@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vc-white text-vc-black font-sans min-h-screen flex flex-col;
  }
}

/* Custom scrollbar for gallery */
.gallery-scroll::-webkit-scrollbar {
  height: 6px;
}
.gallery-scroll::-webkit-scrollbar-track {
  @apply bg-vc-gray-light;
  border-radius: 4px;
}
.gallery-scroll::-webkit-scrollbar-thumb {
  @apply bg-vc-gray-mid;
  border-radius: 4px;
}

.custom-checkbox:checked {
  @apply bg-vc-green border-vc-green;
}
